html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient( 219.3deg, rgba(149, 0, 199, 1) 4.7%, rgba(130, 0, 226, 1) 22.9%, rgba(95, 0, 199, 1) 43.2%, rgba(70, 0, 199, 1) 63.9%, rgba(5, 0, 199, 1) 85.1%, rgba(0, 95, 199, 1) 106.8%);
    Min-height: 100vh;
}

.headerMain__text {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
}

.sectionHeader__text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.article__date {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.paragraph, .article__paragraph, .paragraph__test--js {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:visited {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover {
    color: red;
}

.webPage {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    background-color: #7D82B8
}

.navigation__mainPage {
    margin-right: 10px;
}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navigation__iteam {
    display: inline;
    padding: 5px;
}

.Diary__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 320px 320px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.DiaryWeek__Description {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.Diary__img {
    display: flex;
    justify-content: center;
}

.imageW1 {
    width: 50%;
}

@media (min-width: 641px) {
    
    .navigation__switcher{

        display: none;
    }
   
}

@media (max-width: 640px) {
    .Diary__grid {
        grid-template-columns: 1fr;
    }
    .imageW {
        width: 320px;
        height: 200px;
        
    }
    .imageW img {
        width: 100%;
        height: auto;
        
    }

    .navigation__list {
        flex-direction: column;
        display: none;
    }

    .navigation__list--visible{

        display: flex;
    }

    .navigation__switcher{

        border: none;
        
        position: absolute;
        right:16px;
        top:16px;


    }
}