html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}



body {
    /*background-color: #fefefe;*/
    background-color: rgb(71, 117, 179);
    background-image: linear-gradient(rgb(71, 117, 179), rgb(153, 62, 172));
    Min-height: 100vh;
}

.headerMain__text {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
}

.sectionHeader__text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



.article__date{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.paragraph, .article__paragraph, .paragraph__test--js{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a:link{

    color:yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;


}

a:visited{

    color:yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover {
    color: red;
}

.webPage{

    width: 100%;
    max-width: 700px;
    margin: 32px auto;
}

.navigation{

    position: fixed;
    width: 100%;
    top: 10px;
    left: 10px;
    box-sizing: border-box;
    padding: 10px;



}

.navigation__mainPage{

    margin-right: 10px;
}